<!DOCTYPE html>
<html>
  <head>
    <title>Media Library</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    {% block content %}{% endblock %}
    <script type="module" src="static/script.js"></script>
  </body>
</html>
